In [1]:
import os
import pandas as pd
import numpy as np
import json

In [2]:
# gene_mapping_dictionary from json file, consider datatypes in the dictionary!

file_path = '/home/ahmed_kh/project/graph/genes/edge_index/mapping_dicts/genes_dict.json'
with open(file_path, 'r') as json_file:
    genes_dict_json = json.load(json_file)

#convert back strings into integers as they got mutated in json conversion! 
    genes_dict = {str(key): value for key, value in genes_dict_json.items()}
    
print(len(genes_dict))

18315

In [3]:
# read bp-gene edge file
mir_all = pd.read_csv("/home/ahmed_kh/drkg/databases/mirna_gene.csv")
genes = pd.read_csv("/home/ahmed_kh/drkg/databases/mir_gene.csv")
genes = genes.astype('str')
genes['1']

0               10
1              100
2             1000
3            10000
4        100008586
           ...
18310         9992
18311         9993
18312         9994
18313         9997
18314    gene_from
Name: 1, Length: 18315, dtype: object

In [4]:
mir_all = mir_all.astype('str')
mir_all

                     miRNA Target Gene (Entrez Gene ID)
0       hsa-m+A2:B29iR-20a                         3091
1             hsa-miR-146a                         7852
2              hsa-miR-122                         1581
3              hsa-miR-222                         6776
4               hsa-miR-21                        10125
...                    ...                          ...
163085        hsa-miR-891a                       196743
163086        hsa-miR-891a                        54962
163087        hsa-miR-891a                       123720
163088        hsa-miR-892a                       692312
163089           hsa-miR-9                         7068

[163090 rows x 2 columns]

In [5]:
mir_all.rename(columns={mir_all.columns[1]: 'gene_id'}, inplace=True)

In [6]:
mir_all =  mir_all[mir_all['gene_id'].isin(genes['1'])]
mir_all = mir_all.astype('str')

In [7]:
mir_all.shape

(158526, 2)

In [8]:
mirna = mir_all
mirna

                     miRNA gene_id
0       hsa-m+A2:B29iR-20a    3091
1             hsa-miR-146a    7852
2              hsa-miR-122    1581
3              hsa-miR-222    6776
4               hsa-miR-21   10125
...                    ...     ...
163085        hsa-miR-891a  196743
163086        hsa-miR-891a   54962
163087        hsa-miR-891a  123720
163088        hsa-miR-892a  692312
163089           hsa-miR-9    7068

[158526 rows x 2 columns]

In [9]:
# uinque pw terms
unique_mirna_ids = mirna['miRNA'].sort_values().unique()

# Convert the NumPy array to a Pandas Series
unique_mirna_ids = pd.Series(unique_mirna_ids)
unique_mirna_ids
# create pw_dict 
mirna_map_dict = {str(value): key for key, value in unique_mirna_ids.to_dict().items()}
len(mirna_map_dict)

569

In [10]:
mirna = mirna.astype('str')

In [11]:
# Edge index mapping from gene_dict and pw_dict
mirna["gene_id"] = mirna["gene_id"].map(genes_dict)
mirna["miRNA"] = mirna["miRNA"].map(mirna_map_dict)
mirna
#mirna = mirna.dropna()
mirna["gene_id"] = mirna["gene_id"].astype(int)
mirna["miRNA"] = mirna["miRNA"].astype(int)
edge_index = mirna[["gene_id", "miRNA"]].values.transpose()

# save gene-pw edge index
np.save('/home/ahmed_kh/project/graph/genes/edge_index/mirna_edge_index.npy', edge_index)
print("Done", edge_index.shape) # [2 x num_edges]

Done (2, 158526)